<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{product.Name}}">
  <ion-content class="padding">
    <h2>Name</h2>
    <p>
      {{product.Name}}
    </p>
    <h2>Description</h2>
    <p>
      {{product.Description}}
    </p>
    <h2>Price</h2>
    <p>
      {{product.Price}}
    </p>


    <a class="button button-large button-positive" href="#/tab/products/edit/{{product.Id}}">
      Edit
    </a>

  </ion-content>
</ion-view>
